<form [formGroup]="cartForm">
  <div fxLayout="column wrap" fxLayoutGap="8px">
    <mat-selection-list class="cart-list" formControlName="selectedItems">
      <mat-list-option *ngFor="let item of cartItems" [value]="item.id"
        [disabled]="item.applicablePrice === 0">
        {{item?.product?.name}}
      </mat-list-option>
    </mat-selection-list>
    <!-- Total Value Display -->
    <div fxLayout="row" fxLayoutAlign="space-between">
      <h4>Total Value: </h4>
      <h4>{{totalValue | currency}}</h4>
    </div>

    <!-- Checkout section -->
    <div fxLayout="column" class="checkout-section">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-form-field>
          <mat-label>Promo Code</mat-label>
          <input type=" text" matInput formControlName="promoCode">
          <button mat-icon-button matSuffix
            [disabled]="!(promoApplied$ | async)" (click)="onPromoClear()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-hint>{{ promoEffect }}</mat-hint>
        </mat-form-field>
        <button mat-button [disabled]="applyPromoDisabled$ | async"
          (click)="onPromoApply()">
          APPLY
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h5>
          <i>Total Savings:</i></h5>
        <h5>
          <i>{{savingsValue | currency}}</i>
        </h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <mat-label>Final Price</mat-label>
          <input type="text" matInput disabled [value]="finalPrice | currency"
            class="final-price">
          <mat-hint>Price after discounts</mat-hint>
        </mat-form-field>
        <button mat-raised-button [disabled]="checkoutDisabled$ | async"
          (click)="onCheckout()">
          <mat-icon>toll</mat-icon>
          Checkout
        </button>
      </div>
    </div>
  </div>
</form>