.cart-list {
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 8px;
  height: 200px !important;
}

.checkout-section {
  background: rgba(136, 223, 84, 0.25);
  border-radius: 8px;
  padding: 8px;
}

.final-price {
  font-size: large;
  font-weight: bolder;
  color: darkorange;
}
