<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>SIM Cards Catalog</mat-card-title>
      <mat-card-subtitle>Available SIM Cards to be purchased
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-catalog (add)="onAdd($event)"></app-catalog>
    </mat-card-content>
  </mat-card>
  <mat-icon>compare_arrows</mat-icon>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Your Shopping Cart</mat-card-title>
      <mat-card-subtitle>
        Running list of products in your cart
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-shopping-cart [cartItems]="runningList$ | async"
        [totalValue]="totalValue$ | async" [finalPrice]="finalPrice$ | async"
        [savingsValue]="savingsValue$ | async"
        (applyPromo)="onApplyPromo($event)" (checkout)="onCheckout()">
      </app-shopping-cart>
    </mat-card-content>
  </mat-card>
</div>